@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using VinaCent.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject ILanguageManager LanguageManager
@{
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title : "";
    var pageDescription = !string.IsNullOrWhiteSpace(ViewBag.Description) ? ViewBag.Description : "";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="@pageDescription"/>
    <title>@pageTitle</title>
    <base href="/">
    <partial name="~/Views/Shared/Themes/Tabler/_Styles.cshtml"></partial>
    @await RenderSectionAsync("styles", false)
</head>
<body class="antialiased">
<div class="wrapper">
    <partial name="~/Views/Shared/Themes/Tabler/Components/Vertical/Aside/_Aside.cshtml"/>
    <partial name="~/Views/Shared/Themes/Tabler/Components/Vertical/Header/_Header.cshtml"/>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            @pageDescription
                        </div>
                        <h2 class="page-title">
                            @pageTitle
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            @await RenderSectionAsync("headbutting", false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@await RenderSectionAsync("modals", false)
<partial name="~/Views/Shared/Themes/Tabler/Components/Modals/LogoutConfirmModal.cshtml"/>
<partial name="~/Views/Shared/Themes/Tabler/Components/Modals/GlobalModal.cshtml"/>
<partial name="~/Views/Shared/Themes/Tabler/_Scripts.cshtml"></partial>
@await RenderSectionAsync("scripts", false)
@WebResourceManager.RenderScripts()
</body>
</html>