@using VinaCent.Blaze.Web.Areas.AdminCP.Common
@using VinaCent.Blaze.Web.Startup
@using VinaCent.Blaze.Configuration
@using VinaCent.Blaze.AppCore.FileUnits.Dto
@{
    ViewBag.Title = L(AdminCpPageNames.FileManagement);
    ViewBag.CurrentPageName = AdminCpPageNames.FileManagement;

    var siteName = await SettingManager.GetSettingValueAsync(AppSettingNames.SiteName);
}

@section styles {
    <style>
        .table-card td:first-child, .table-card th:first-child {
            padding-left: 26px;
        }
    </style>
}

@section scripts {
    <script src="~/view-resources/Views/FileManagement/Index.js" asp-append-version="true"></script>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <button type="button" data-bs-toggle="modal" data-bs-target="#DirectoryCreateModal" class="btn btn-primary waves-effect waves-light mb-3 mb-lg-0">
                    <i class="mdi mdi-folder-plus"></i>
                    @L(LKConstants.CreateDirectory)
                </button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#UploadFileModal" class="btn btn-success waves-effect waves-light mb-3 mb-lg-0">
                    <i class="mdi mdi-cloud-upload-outline"></i>
                    @L(LKConstants.UploadFile)
                </button>
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("~/Areas/AdminCP/Views/FileManagement/Index.AdvancedSearch.cshtml")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="FileUnitsTable" class="table table-card table-vcenter text-nowrap">
                <thead>                 
                    <tr>
                        <th><input class="form-check-input m-0 align-middle" type="checkbox"></th>
                        <th>@L(LKConstants.Name)</th>
                        <th>@L(LKConstants.FileSize)</th>
                        <th>@L(LKConstants.Description)</th>
                        <th>@L(LKConstants.CreationTime)</th>
                        <th>@L(LKConstants.LastModificationTime)</th>
                        <th style="width: 150px">@L(LKConstants.Actions)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AdminCP/Views/FileManagement/_DirectoryCreateModal.cshtml", new CreateDirectoryDto())
@await Html.PartialAsync("~/Areas/AdminCP/Views/FileManagement/_UploadFileModal.cshtml", new UploadFileUnitDto())

<div class="modal fade" id="RenameFileUnitModal" tabindex="-1" role="dialog" aria-labelledby="RenameFileUnitModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>