@using VinaCent.Blaze.Web.Areas.BusinessCP.Common
@using VinaCent.Blaze.Web.Themes.Velzon.ThemeOptions
@inject IVelzonThemeOptions ThemeOptions

@{
    ThemeOptions.AddBreadcrumb(L(LKConstants.BusinessCP)).AddBreadcrumb(L(LKConstants.Shop)).AddBreadcrumb(L(LKConstants.Shop_TagManagement)).Commit(this);
    ViewBag.Title = L(LKConstants.Shop_TagManagement);
    ViewBag.CurrentPageName = BusinessCpPageNames.ShopPageNames.Shop_TagManagement;
}
@section scripts
{
    <script src="~/view-resources/Views/BusinessCP/ShopModule/Tags/Index.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <button type="button" data-bs-toggle="modal" data-bs-target="#LanguageCreateModal" class="btn btn-success waves-effect waves-light mb-3 mb-lg-0">
                    <i class="fa fa-plus-square"></i>
                    @L(LKConstants.Create)
                </button>
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("~/Areas/BusinessCP/Views/ShopModule/Tags/Index.AdvancedSearch.cshtml")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="LanguagesTable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>@L(LKConstants.DisplayName)</th>
                    <th>@L(LKConstants.UiCultureName)</th>
                    <th>@L(LKConstants.IsDefault)</th>
                    <th>@L(LKConstants.IsEnabled)</th>
                    <th>@L(LKConstants.FlagIcon)</th>
                    <th style="width: 150px">@L(LKConstants.Actions)</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/BusinessCP/Views/ShopModule/Tags/_CreateModal.cshtml")

<div class="modal fade" id="LanguageEditModal" tabindex="-1" role="dialog" aria-labelledby="LanguageEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
