@using Abp.Web.Security.AntiForgery
@using System.Globalization
@using VinaCent.Blaze.Configuration
@using VinaCent.Blaze.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject ILanguageManager LanguageManager

@using VinaCent.Blaze.Web.Themes.Velzon.ThemeOptions
@inject IVelzonThemeOptions ThemeOptions

@{
    Layout = null;
    var rtl = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    ThemeOptions.Load(this);

    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " | " : "";
    pageTitle += await SettingManager.GetSettingValueAsync(AppSettingNames.SiteTitle);

    var favicon = await SettingManager.GetSettingValueAsync(AppSettingNames.SiteFavicon);

    var menuName = nameof(VinaCent.Blaze.Web.Areas.Client);
    if (ThemeOptions.LayoutDirection == VelzonConsts.LayoutDirections.Vertical)
    {
        menuName = nameof(VinaCent.Blaze.Web.Areas.AdminCP);
    }
}

<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name" dir="@rtl" data-layout="@ThemeOptions.LayoutDirection" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-layout-mode="@ThemeOptions.UiMode" data-sidebar-image="none">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@pageTitle</title>
    <base href="/"/>

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@(ViewBag.Description as string)"/>
    }
    else
    {
        var defaultDescription = await SettingManager.GetSettingValueAsync(AppSettingNames.SiteDescription);
        <meta name="description" content="@defaultDescription"/>
    }

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="@favicon">

    @await Html.PartialAsync("~/Themes/Velzon/_CoreStyles.cshtml")

    <!-- Layout config Js -->
    <script src="velzon/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="velzon/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="velzon/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="velzon/css/app.min.css" rel="stylesheet" type="text/css"/>
    <!-- custom Css-->
    <link href="velzon/css/custom.css" rel="stylesheet" type="text/css"/>

    @await RenderSectionAsync("styles", false)
    @WebResourceManager.RenderStyles()
</head>
<body class="@rtl">
<div id="layout-wrapper">
    <vc:velzon-topbar/>
    <vc:velzon-left-sidebar menu-name="@menuName"/>
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                @if (ThemeOptions.IsDisplayBreadcrumb)
                {
                    <vc:velzon-breadcrumb options="@ThemeOptions.Breadcrumb"/>
                }
                @RenderBody()
            </div>
        </div>
        <vc:velzon-footer/>
    </div>
</div>

<vc:velzon-back-to-top/>

<script src="~/velzon/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

@await Html.PartialAsync("~/Themes/Velzon/_CoreScripts.cshtml")

<!-- JAVASCRIPT -->
<script src="velzon/libs/simplebar/simplebar.min.js"></script>
<script src="velzon/libs/node-waves/waves.min.js"></script>
<script src="velzon/libs/feather-icons/feather.min.js"></script>
<script src="velzon/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="velzon/js/plugins.js"></script>

<!-- App js -->
<script src="velzon/js/app.js"></script>

@await Html.PartialAsync("~/Views/Shared/Layout/_Alerts.cshtml")

@await RenderSectionAsync("scripts", false)

@WebResourceManager.RenderScripts()
</body>
</html>