@using VinaCent.Blaze.Configuration
@using VinaCent.Blaze.Web.Models.Account
@model ResetPasswordRequestInput
@{
    var systemName = await SettingManager.GetSettingValueAsync(AppSettingNames.SiteName);
    ViewBag.Title = L(LKConstants.ForgotPasswordTitle, systemName);
}

@section scripts
{
    <script src="~/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}

<div class="card mt-4">

    <div class="card-body p-4">
        <div class="text-center mt-2">
            <h4 class="text-primary">@L(LKConstants.ForgotPassword)</h4>
            <p class="text-muted">@L(LKConstants.ForgotPasswordDescription, systemName)</p>

            <lord-icon src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop" colors="primary:#0ab39c" class="avatar-xl">
            </lord-icon>

        </div>

        <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
            @L(LKConstants.ResetPasswordDescription)
        </div>
        <div class="p-2">
            <form id="ResetPasswordRequestForm" role="form" class="form-horizontal" asp-action="RequestResetPassword" method="post">
                <div class="required mb-4">
                    <label class="form-label" asp-for="EmailAddress"></label>
                    <input type="text" asp-for="EmailAddress" class="form-control"/>
                    <span asp-validation-for="EmailAddress" class="invalid-feedback"></span>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-success w-100" type="submit">@L(LKConstants.SendResetLink)</button>
                </div>
            </form><!-- end form -->
        </div>
    </div>
    <!-- end card body -->
    <vc:velzon-account-language/>
</div>
<!-- end card -->

<div class="mt-4 text-center">
    <p class="mb-0">
        @L(LKConstants.WaitIRememberMyPassword)
        @if (User.Identity?.IsAuthenticated == true)
        {
            <a asp-action="Index" asp-controller="Home" asp-area="Client" class="fw-semibold text-primary text-decoration-underline">@L(LKConstants.GoBackHome)</a>
        }
        else
        {
            <a asp-action="Login" class="fw-semibold text-primary text-decoration-underline"> @L(LKConstants.LogIn) </a>
        }
    </p>
</div>