@using VinaCent.Blaze.Authorization.Accounts.Dto
@model ResetPasswordInput

@section scripts {
    <script src="~/view-resources/Views/Account/VerifyAndChangePassword.js"></script>
}

<div id="ChangePasswordContainer">
    <div class="card mt-4">
        <div class="card-body p-4">
            <div class="mb-4">
                <div class="avatar-lg mx-auto">
                    <div class="avatar-title bg-light text-primary display-5 rounded-circle shadow">
                        <i class="ri-mail-line"></i>
                    </div>
                </div>
            </div>

            <div class="p-2 mt-4">
                <div class="text-muted text-center mb-4 mx-lg-3">
                    <h4 class="">@L(LKConstants.EnterSecurityCode)</h4>
                    <p>@L(LKConstants.PleaseEnterThe_X_CharacterCodeSentTo, 4): <span class="fw-semibold">@ViewBag.Email</span></p>
                </div>

                <form id="VerifyAndChangePasswordForm" role="form">
                    <input type="hidden" asp-for="EmailAddress"/>
                    <input type="hidden" asp-for="Token"/>
                    <div class="mb-3">
                        <label class="form-label" asp-for="NewPassword"></label>
                        <input type="text" class="form-control" asp-for="NewPassword">
                        <span asp-validation-for="NewPassword" class="invalid-feedback"></span>
                    </div>
                    <button type="button" class="btn btn-success w-100 save-button">@L(LKConstants.ChangePassword)</button>
                </form><!-- end form -->
            </div>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->

    <div class="mt-4 text-center">
        @if (User.Identity?.IsAuthenticated == true)
        {
            <a asp-action="Index" asp-controller="Home" asp-area="Client" class="fw-semibold text-primary text-decoration-underline">@L(LKConstants.GoBackHome)</a>
        }
        else
        {
            <p class="mb-0">
                @L(LKConstants.WaitIRememberMyPassword) <a asp-action="Login" class="fw-semibold text-primary text-decoration-underline" id="loginLink"> @L(LKConstants.LogIn) </a>
            </p>
        }
    </div>
</div>

<partial name="~/Views/Account/ResetPassword/ChangePasswordSuccessful.cshtml"/>