@using VinaCent.Blaze.Authorization.Accounts.Dto
@model ResetPasswordInput

<div class="card mt-4">
    <div class="card-body p-4">
        <div class="mb-4">
            <div class="avatar-lg mx-auto">
                <div class="avatar-title bg-light text-primary display-5 rounded-circle shadow">
                    <i class="ri-mail-line"></i>
                </div>
            </div>
        </div>

        <div class="p-2 mt-4">
            <div class="text-muted text-center mb-4 mx-lg-3">
                <h4 class="">@L(LKConstants.EnterSecurityCode)</h4>
                <p>@L(LKConstants.PleaseEnterThe_X_CharacterCodeSentTo, 4): <span class="fw-semibold">@ViewBag.Email</span></p>
            </div>

            <form>
                <input type="hidden" asp-for="EmailAddress" />
                <input type="hidden" asp-for="Token" />
                <div class="mb-3">
                    <label class="form-label" asp-for="NewPassword"></label>
                    <div class="position-relative auth-pass-inputgroup mb-3">
                        <input type="password" class="form-control pe-5 password-input" asp-for="NewPassword">
                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted shadow-none password-addon" type="button"><i class="ri-eye-fill align-middle"></i></button>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirm-new-password"></label>
                    <div class="position-relative auth-pass-inputgroup mb-3">
                        <input type="password" class="form-control pe-5 password-input" id="confirm-new-password">
                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted shadow-none password-addon" type="button"><i class="ri-eye-fill align-middle"></i></button>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="button" class="btn btn-success w-100">@L(LKConstants.ChangePassword)</button>
                </div>
            </form><!-- end form -->
        </div>
    </div>
    <!-- end card body -->
</div>
<!-- end card -->

<div class="mt-4 text-center">
    <p class="mb-0">@L(LKConstants.WaitIRememberMyPassword) <a asp-action="Login" class="fw-semibold text-primary text-decoration-underline"> @L(LKConstants.LogIn) </a> </p>
</div>