@using VinaCent.Blaze.AppCore.AuditLogs.Dto
@using VinaCent.Blaze.Web.Areas.AdminCP.Common
@{
    ViewBag.Title = L(AdminCpPageNames.AuditLogs);
    ViewBag.CurrentPageName = AdminCpPageNames.AuditLogs;
}

@section scripts {
    <script src="~/view-resources/Views/FileManager/Index.js" asp-append-version="true"></script>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 floa">
                @await Html.PartialAsync("~/Areas/AdminCP/Views/AuditLogs/Index.AdvancedSearch.cshtml")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="AuditLogsTable" class="table table-card table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>@L("UserName")</th>
                        <th>@L("ClientIpAddress")</th>
                        <th>@L("ExcutionTime")</th>
                        <th>@L("ExecutionDuration")</th>
                        <th>@L("Service")</th>
                        <th>@L("Method")</th>
                        <th style="width: 150px">@L("Actions")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AdminCP/Views/AuditLogs/_DetailModal.cshtml", new AuditLogDto())