@using VinaCent.Blaze.AppCore.AuditLogs.Dto
@using VinaCent.Blaze.Web.Areas.AdminCP.Common
@{
    ViewBag.Title = L(AdminCpPageNames.AuditLogs);
    ViewBag.CurrentPageName = AdminCpPageNames.AuditLogs;
}

@section styles {
    <style>
        td {
          position: relative;
          width: 100px;
        }

        td p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        td:after {
          content: attr(data-type);
          position: absolute;
          left: 100%;
          top: 0;
        }


        /*Show on hover*/

        td:hover {
          width: auto
        }

        td:hover:after {
          display: none;
        }
    </style>
}

@section scripts {
    <script src="~/view-resources/Views/AuditLogs/Index.js" asp-append-version="true"></script>
}

<div class="card">
    <div class="card-header">
        <div class="row justify-content-end">
            @*<div class="col-md-6">              
            </div>*@
            <div class="col-md-6">
                @await Html.PartialAsync("~/Areas/AdminCP/Views/AuditLogs/Index.AdvancedSearch.cshtml")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="AuditLogsTable" class="table table-card table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>@L("UserName")</th>
                        <th>@L("ClientIpAddress")</th>
                        <th>@L("ExcutionTime")</th>
                        <th>@L("ExecutionDuration")</th>
                        <th>@L("Service")</th>
                        <th>@L("Method")</th>
                        <th style="width: 150px">@L("Actions")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="DetailModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>