@using Abp.Collections.Extensions
@using Abp.Extensions
@using VinaCent.Blaze.Web.Themes.Velzon.Components.VelzonUserArea
@using VinaCent.Blaze.Web.Themes.Velzon.ThemeOptions
@model VelzonUserAreaViewModel

@if (AbpSession.UserId != null)
{
    var name = Model.LoginInformations.User.Name;
    var fullName = Model.LoginInformations.User.FullName;
    var picture = Model.LoginInformations.User.Avatar;

    var area = ViewContext.ActionDescriptor.RouteValues["Area"] ?? "";

    var roles = Model.LoginInformations.User.Roles.JoinAsString(", ");
    if (roles.IsNullOrWhiteSpace())
    {
        roles = L(LKConstants.Member);
    }

    <div class="dropdown header-item">
        <button type="button" class="btn shadow-none" id="page-header-user-dropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex align-items-center">
                <img class="rounded-circle header-profile-user"
                 src="@picture" alt="@fullName" avatar self-avatar />
                <span class="text-start ms-xl-2">
                    <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">
                        @fullName
                    </span>
                    <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">@roles</span>
                </span>
            </span>
        </button>
        <div class="dropdown-menu dropdown-menu-end">
            <!-- item-->
            <h6 class="dropdown-header">@L(LKConstants.WelcomeUserMsg, name)</h6>
            <a class="dropdown-item" asp-action="Lockout" asp-controller="Account" asp-area="">
                <i class="ri-lock-fill text-muted fs-16 align-middle me-1"></i> <span class="align-middle">@L(LKConstants.GotoLockScreen)</span>
            </a>
            @if (!VelzonConsts.CPAreas.Contains(area))
            {
                // If User have any role with system
                if (!Model.LoginInformations.User.Roles.IsNullOrEmpty()) {
                    <a class="dropdown-item" asp-action="Index" asp-controller="Dashboard" asp-area="AdminCP">
                        <i class="ri-shield-fill text-muted fs-16 align-middle me-1"></i> <span class="align-middle">@L(LKConstants.GoToAdminCP)</span>
                    </a>
                }
            }
            else
            {
                <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="Client">
                    <i class="ri-home-smile-fill text-muted fs-16 align-middle me-1"></i> <span class="align-middle">@L(LKConstants.GoBackHome)</span>
                </a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">
                <i class="mdi mdi-wallet text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Balance : <b>$5971.67</b></span>
            </a>
            <a class="dropdown-item" asp-controller="Profile" asp-action="Index">
                <i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">@L(LKConstants.Settings)</span>
            </a>
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">@L(LKConstants.Logout)</span>
            </a>
        </div>
    </div>
}
else
{
    <div class="mx-3 header-item">
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-load">
            <span class="d-flex align-items-center">
                <span class="spinner-grow flex-shrink-0" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
                <span class="flex-grow-1 ms-2">
                    @L(LKConstants.LogIn)
                </span>
            </span>
        </a>
    </div>
}